.whole-page {
  top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.search-box {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.london-card {
  margin-left: 170px;
  text-align: center;
}

.humidity-card {
  margin-left: 50px;
  margin-top: 40px;
}

.weather-cards {
  margin-bottom: 50px;
  margin-left: 160px;
}

.card-title {
  text-align: center;
}
.card-text {
  text-align: center;
}
.sun-icon {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 60px;
  color: rgb(238, 238, 34);
}
.rain-icon {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 60px;
  color: grey;
}
.sun-rain-icon {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 60px;
  color: rgb(82, 160, 248);
}
.sun-cloud-icon {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 60px;
  color: rgb(240, 175, 53);
}
.lightning-icon {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 60px;
  color: rgb(30, 67, 233);
}

p {
  font-weight: 500;
  font-size: 20px;
}

#current-location {
  display: block;
  margin: 0 auto;
}

.footer {
  display: block;
  margin: 0 auto;
}
